<template>
    <div class="edit" v-click-outside="hide">
        <div class="form">
            <router-link :to="`/admin/${current.id}?action=remove`" class="btn red right">Удалить</router-link>
            <br>
            <br>
            <div class="input-field">
                <select @change="e => Change('to', e.target.value)">
                    <option :selected="current.to == null" value="null">Нет</option>
                    <option v-for="item in itemsRoot" :value="item.id" :selected="current.to == item.id"><span v-html="item.name" />
                    </option>
                </select>
                <label>Переход</label>
            </div>
            <label for="title">Заголовок</label>
            <textarea v-if="false" id="title" class="materialize-textarea" ref="name" :value="current.name"
                      @change="e => Change('name', e.target.value)"/>
            <ckeditor id="title" :editor="editor" :value="current.name"
                      @input="e => Change('name', e)" :config="editorConfig" ref="name" ></ckeditor>

            <label for="desc">Описание</label>
            <ckeditor id="desc" :editor="editor" :value="current.desc"
                      @input="e => Change('desc', e)" :config="editorConfig" ref="desc" ></ckeditor>

            <br>
            <template v-if="current.img">
                <img class="demo" :src="current.img" @click="$refs.file.click()"/>
                <button @click="Change('img', null)" class="btn">Удалить изображеие</button>
            </template>
            <button v-else @click="$refs.file.click()" class="btn">Загрузить изображеие</button>

            <input v-show="false" type="file" ref="file" name="userfile" @change="UploadImg"/>

            <template v-if="current.VideoSmall">
                <p>Видео для телефона</p>
                <video :src="current.VideoSmall" controls />
                <button class="btn" @click="RemoveVideoSmall">Удалить видео для телефона</button>
            </template>
            <input v-show="false" type="file" ref="fileVideoSmall" @change="UploadVideoSmall"/>
            <button class="btn" @click="$refs.fileVideoSmall.click()">Загрузить видео для телефона</button>

            <template v-if="current.VideoBig">
                <p>Видео</p>
                <video :src="current.VideoBig" controls />
                <button class="btn" @click="RemoveVideoBig">Удалить видео</button>
            </template>
            <input v-show="false" type="file" ref="fileVideoBig" @change="UploadVideoBig"/>
            <button class="btn" @click="$refs.fileVideoBig.click()">Загрузить видео</button>

        </div>
        <div>
            <br>
            <button class="btn" @click="Remember">Копировать</button>
            <button class="btn" @click="InsertRemember">Вставить</button>
            <br>
            <p v-if="current.children">Потомки</p>
            <div class="collection">
                <router-link v-for="item in current.children" :to="`/admin/${current.idRoot}/${current.id}`"
                             class="collection-item"><span v-html="item.name" />
                </router-link>
                <router-link :to="`/admin/${current.idRoot}?action=create&idParent=${current.id}`"
                             class="collection-item">
                    Добавить вариант
                </router-link>
            </div>
        </div>
    </div>

</template>

<script>
    import clickOutside from '@/clickOutside';
    import {mapState} from "vuex"
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        name: "FormEdit",
        directives: {clickOutside},
        props: {
            current: {type: Object, default: () => ({id: null})}
        },
        data: () => ({
            editor: ClassicEditor,
            editorData: '<p>Content of the editor.</p>',
            editorConfig: {
                // The configuration of the editor.
            }
        }),
        async mounted() {
            await this.$nextTick();
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        },
        async updated() {
            await this.$nextTick();
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        },
        computed: {
            CurrentPath() {
                return window.location.href
            },
            ...mapState(["itemsRoot"]),
        },
        created() {
        },
        methods: {
            Remember() {

                sessionStorage.Remember = JSON.stringify(this.current)
            },
            InsertRemember() {
                if (!sessionStorage.Remember) return;
                let item = JSON.parse(sessionStorage.Remember);

                function rec(item) {
                    let current = {};
                    for (let key in item) current[key] = item[key]
                    current.id = Math.random();

                    delete current.extend;

                    for (let index in current.children) {
                        current.children[index] = rec(current.children[index])
                    }
                    return {...current};
                }

                item = rec(item);

                this.Change('children', [...this.current.children, item])
            },
            Change(Path, Value) {
                let item = this.current;
                if (Path == 'name' && !Value) Value = 'No name'
                item[Path] = Value;
                //delete item.children;
                //delete item.extend;
                this.$emit('change', item);
            },
            hide() {
                this.$emit('hide');
            },
            async UploadImg() {
                console.log('UploadImg')
                let form = new FormData();
                form.append('userfile', this.$refs.file.files[0]);
                form.append('refer', this.CurrentPath);
                form.append('id', this.current.id);

                let toast = M.toast({html: "Загрузка изображения"})
                await fetch(`http://opros-server.j693917.myjino.ru/opros/do_upload`, {
                        method: 'POST',
                        body: form,
                    }
                ).then(r => r.text())
                    .then(r => {
                        this.Change('img', r)
                    })
                    .catch(r => {console.log(r)})
                toast.dismiss();
                toast = M.toast({html: "Изображение загружено"})
            },
            async UploadVideoSmall() {
                console.log('UploadVideoSmall')
                let form = new FormData();
                form.append('userfile', this.$refs.fileVideoSmall.files[0]);

                let toast = M.toast({html: "Загрузка видео для телефона"})
                let vm = this;
                await fetch(`http://opros-server.j693917.myjino.ru/opros/do_upload`, {
                        method: 'POST',
                        body: form,
                    }
                ).then(r => r.text())
                    .then(r => {
                        vm.Change('VideoSmall', r)
                    })
                    .catch(r => {console.log(r)})
                toast.dismiss();
                toast = M.toast({html: "Видео для телефона загружено"})
            },
            RemoveVideoSmall() {
                this.Change('VideoSmall', null);
            },
            async UploadVideoBig() {
                console.log('UploadVideoBig')
                let form = new FormData();
                form.append('userfile', this.$refs.fileVideoBig.files[0]);

                let toast = M.toast({html: "Загрузка видео"})
                let vm = this;
                await fetch(`http://opros-server.j693917.myjino.ru/opros/do_upload`, {
                        method: 'POST',
                        body: form,
                    }
                ).then(r => r.text())
                    .then(r => {
                        vm.Change('VideoBig', r)
                    })
                    .catch(r => {console.log(r)})
                toast.dismiss();
                toast = M.toast({html: "Видео загружено"})
            },
            RemoveVideoBig() {
                this.Change('VideoBig', null);
            },
        }
    }


</script>

<style lang="scss" scoped>

    .edit {
        position: fixed;
        right: 0px;
        top: 0px;
        min-width: calc(400px - 2rem);
        width: 20vw;
        height: calc(100vh - 0rem);
        z-index: 100;
        padding: 1rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }

    .form {
        padding: 1rem;

        .demo {
            width: 100%;
            cursor: pointer;
        }

        input[type=file] {
            display: none;
        }
    }

    .form input[type=file] {
        display: block;
    }
</style>