<template>
  <div class="admin" @mousedown="onStartMove" @mousemove="onMove" @mouseup="onMoveEnd">
    <div class="FormControl">
      <router-link class="btn" to="/admin">Все опросы</router-link> &nbsp;
      <router-link class="btn" :to="`/${tree.idRoot}/${tree.idRoot}`">Режим просмотра</router-link> &nbsp;
      <button class="btn" :disabled="isProcessSave" @click="save">Сохранить</button>
      <button class="btn" :disabled="isProcessSave" @click="saveBeckap">Сохранить бекап</button>
      <button class="btn" :disabled="isProcessSave" @click="selectBeckap">Загрузить бекап</button>
      <button class="btn" :disabled="isProcessSave" @click="saveTemplate">Сохранить шаблон</button>
      <button class="btn red" :disabled="isProcessSave" @click="removeOpros">Удалить опрос</button>
    </div>
    <tree-chart :style="`transform: scale(${scale}) translateX(${delteMove.x}px) translateY(${delteMove.y}px);`" v-if="isShowTree" class="tree" :json="this.tree" @click-node="onClick" @hide="onClose" />
    <form-load-beckap v-if="isShowFormBeckaps" @select="onSelectBeckaps" :id="this.$route.params.id" />
    <form-edit ref="FormEdit" class="FormEdit" v-if="current" :current="current" v-click-outside="onClose" @change="Change" />
  </div>
</template>

<script>
  import TreeChart from '@/components/TreeChart'
  import FormEdit from '@/components/FormEdit'
  import FormLoadBeckap from '@/components/FormLoadBeckap'

    import clickOutside from '@/clickOutside'
    export default {
      components: {
        TreeChart,
        FormEdit,
        FormLoadBeckap,
      },
      directives: {clickOutside},
      data: () => ({
        current: false,
        isProcessOpen: false,
        tree: [],
        isShowTree: false,
        isShowFormBeckaps: false,
        isProcessSave: false,
        scale: 1,
        isMove: false,
        startMove: { x: null, y: null },
        currentMove: { x: null, y: null },
        resultDeleMove: { x: 0, y: 100 },
      }),
      async created() {
        if (!this.$store.state.isAuth) this.$router.push('/Admin/Auth');
        let toast = M.toast({html: "Загрузка"})
        await this.$store.dispatch('load', this.$route.params.id);
        await this.$store.dispatch('load-list-opros');
        toast.dismiss();
      },
      async mounted() {
        if (this.$route.params.idShow) {
          await this.$nextTick();
          this.show();
        }
        if (this.isLoad == false) {
          this.isShowTree = true;
          this.updateTree();
        }
        this.$el.focus();

        if (this.$el.addEventListener) {
          if ('onwheel' in document) {
            // IE9+, FF17+, Ch31+
            this.$el.addEventListener("wheel", this.onScroll);
          } else if ('onmousewheel' in document) {
            // устаревший вариант события
            this.$el.addEventListener("mousewheel", this.onScroll);
          } else {
            // Firefox < 17
            this.$el.addEventListener("MozMousePixelScroll", this.onScroll);
          }
        } else { // IE8-
          this.$el.attachEvent("onmousewheel", this.onScroll);
        }

      },
      updated() {
        if (this.$el.addEventListener) {
          if ('onwheel' in document) {
            // IE9+, FF17+, Ch31+
            this.$el.addEventListener("wheel", this.onScroll);
          } else if ('onmousewheel' in document) {
            // устаревший вариант события
            this.$el.addEventListener("mousewheel", this.onScroll);
          } else {
            // Firefox < 17
            this.$el.addEventListener("MozMousePixelScroll", this.onScroll);
          }
        } else { // IE8-
          this.$el.attachEvent("onmousewheel", this.onScroll);
        }
      },
      computed: {
        items() {
          return this.$store.state.items;
        },
        isLoad() { return this.$store.state.isLoad },
        delteMove() {
          if (this.isMove)
            return {
              x: (this.currentMove.x - this.startMove.x) * (2 - this.scale) + this.resultDeleMove.x,
              y: (this.currentMove.y - this.startMove.y) * (2 - this.scale) + this.resultDeleMove.y,
          };
          return this.resultDeleMove;
        },
      },
      watch: {
        items() {
          console.log('watch items', this.items.length);
          if (this.items.length) this.updateTree();
        },
        isLoad() {
          if (this.isLoad == false) this.isShowTree = true;
        },
        async '$route'() {
          if (!this.$route.params.idShow) {
            this.current = false;
          }
          if (this.$route.query.action) {
            if (this.$route.query.action === 'remove') {
              this.$store.commit('remove', this.$route.params.id);
              this.$store.commit('append_remove', this.$route.params.id);
              this.$router.push(`/admin/${this.tree.idRoot}`);
              this.isShowTree = false;
              await this.$nextTick();
              await this.$nextTick();
              this.isShowTree = true;
            }
            if (this.$route.query.action === 'create') {
              this.current = {
                id: Math.random(),
                idRoot: this.tree.idRoot,
                name: this.$route.query.name || 'Новый вариант',
                desc: this.$route.query.desc || '',
                img: this.$route.query.img || null,
                idParent: this.$route.query.idParent
              }
              this.isShowTree = false;
              await this.$nextTick();
              await this.$nextTick();
              this.isShowTree = true;

            }
          }
        }
      },
      methods: {
        onScroll(e) {
          if (this.$refs.FormEdit) return;

          if (e.ctrlKey || true) {
            if (e.deltaY > 0) {
              this.scale -= 0.1;
            } else {
              this.scale += 0.1;
            }
            e.preventDefault();
            return false;
          }
        },
        onStartMove(e) {
          if (this.current) return;
          this.isMove = true;
          this.startMove.x = e.x;
          this.startMove.y = e.y;
          this.currentMove.x = e.x;
          this.currentMove.y = e.y;
        },
        onMove(e) {
          if (this.current) return;
          this.currentMove.x = e.x;
          this.currentMove.y = e.y;
        },
        onMoveEnd() {
          if (this.current) return;
          this.isMove = false;
          this.resultDeleMove.x = (this.currentMove.x - this.startMove.x) * (2 - this.scale) + this.resultDeleMove.x;
          this.resultDeleMove.y = (this.currentMove.y - this.startMove.y) * (2 - this.scale) + this.resultDeleMove.y;
          this.currentMove.x = null;
          this.currentMove.y = null;
          this.startMove.x = null;
          this.startMove.y = null;
        },
        updateTree() {
          let tree = this.items.find(item => item.idParent == null);
          function recurs(tree, childrens) {
            if (!tree) return;
            tree.children = childrens ? childrens.filter( item => item.idParent == tree.id) || [] : [];
            for (let item of tree.children) {
              recurs(item, childrens)
            }
          }
          recurs(tree, this.items);
          console.log({tree})
          this.$set(this, 'tree', tree);
        },
        async show() {
          this.isProcessOpen = true;
          let current = this.items.find( item => item.id == this.$route.params.idShow )
          this.$set(this, 'current', current);
          await this.$nextTick();

          //document.body.style.overflow = 'hidden'
          await this.$nextTick()
          this.isProcessOpen = false;
        },
        async onClick(e) {
          this.$router.push(`/admin/${this.tree.idRoot}/${e.id}`);
          this.show()
          console.log('onClick');
        },
        onClose(e) {
          if (e.path.map(e => e.classList ? e.classList.value : '').includes('avat')) {

          } else {
            this.$router.push(`/admin/${this.tree.idRoot}`);
            //this.current = false;
            document.body.style.overflow = 'auto'
          }
        },
        async Change(item) {
          this.$store.commit('update', item);
          this.isShowTree = false;
          await this.$nextTick();
          await this.$nextTick();
          this.isShowTree = true;
        },
        async save() {
          let toast = M.toast({html: "Сохранение"})
          this.isProcessSave = true;
          await this.$store.dispatch('save', this.tree)
          this.isProcessSave = false;
          toast.dismiss();
        },
        async saveBeckap() {
          let toast = M.toast({html: "Сохранение бекапа"})
          this.isProcessSave = true;
          await this.$store.dispatch('saveBeckap', {tree: this.tree, idOpros: this.tree.id})
          this.isProcessSave = false;
          toast.dismiss();
        },
        async saveTemplate() {
          let toast = M.toast({html: "Сохранение шаблона"})
          this.isProcessSave = true;
          await this.$store.dispatch('saveTemplate', {tree: this.tree, idOpros: this.tree.id})
          this.isProcessSave = false;
          toast.dismiss();
        },
        async removeOpros() {
          let toast = M.toast({html: "Удаление опроса"})
          this.isProcessSave = true;
          await this.$store.dispatch('removeOpros', this.tree)
          this.isProcessSave = false;
          this.$router.push('/admin')
          toast.dismiss();
        },
        async onSelectBeckaps(item) {
          let toast = M.toast({html: "Восстановление из бекапа"})
          this.isProcessSave = true;
          await this.$store.dispatch('removeOpros', this.tree)
          await this.$store.commit('restoreBeckap', item);
          await this.$store.dispatch('save', this.tree)
          this.isShowFormBeckaps = false;
          this.isShowTree = true;
          this.isProcessSave = false;
          toast.dismiss();
        },
        selectBeckap() {
          this.isShowFormBeckaps = !this.isShowFormBeckaps;
          if (this.isShowFormBeckaps) this.isShowTree = false;
          else this.isShowTree = true;
        },
      }
    }
</script>

<style lang="scss" scoped>
  .admin {
    min-height: 100vh;
  }
    .tree {
        margin-right: 600px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      //min-height: 100vh;
    }
  
  .FormEdit {
    -webkit-box-shadow: -10px 0px 5px -5px rgba(0,0,0,0.36);
    -moz-box-shadow: -10px 0px 5px -5px rgba(0,0,0,0.36);
    box-shadow: -10px 0px 5px -5px rgba(0,0,0,0.36);
  }
  .FormControl {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;

    &>* {
      margin-right: 1rem;
    }
  }
</style>