<template>
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-content">
          <input type="password" placeholder="Password" v-model="Pass" @keyup.enter="Auth"/>
          <button class="btn" @click="Auth">Войти</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Auth",
    data: () => ({
      Pass: '',
      from: '/Admin'
    }),
    watch: {
      '$route'(to, from) {
        this.from = from;
      }
    },
    methods: {
      Auth() {
        this.$store.commit('auth', this.Pass);
        if (this.$store.state.isAuth) {
          this.$router.push('/Admin');
        } else {
          M.toast({html: "Пароль не верен"});
          this.Pass = '';
        }
      },
    }
  }
</script>

<style scoped lang="scss">

</style>