<template>
    <div class="container">
        <div class="row" v-if="item">
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image">
                        <img :src="item.img" v-show="item.img && !isShowVideo" @click="showVideo">
                        <video  autobuffer :poster="item.img" ref="videoBig"
                               :src="item.VideoBig"      v-if="isShowBigVideo"
                               :controls="!item.img" @click="play"
                        />
                        <video  autobuffer :poster="item.img" ref="videoSmall"
                               :src="item.VideoSmall" v-if="isShowSmallVideo"
                               :controls="!item.img" @click="play"
                        />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title" v-html="item.name"/>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p v-html="item.desc" />
                    </div>
                    <div class="collection" v-if="children">
                        <template v-for="(item, index) in children">
                            <router-link
                                    class="collection-item"
                                    :to="`/${item.idRoot}/${item.to || item.id}`"
                            >
                                <span>
                                    <img :src="item.img" v-show="item.img"/>
                                </span>
                                <span v-html="item.name"/>
                            </router-link>
                        </template>
                        <router-link
                                v-if="item.idParent"
                                class="collection-item"
                                :to="`/${item.idRoot}/${item.idParent}`"
                        >
                            <img/>
                            <span>Возврат</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <router-link :to="`/admin/${item.idRoot}/${item.id}`" v-if="isAuth" id="btn-edit"
                     class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i>
        </router-link>
    </div>
</template>

<script>
    // @ is an alias to /src

    import {mapState} from 'vuex'

    export default {
        name: 'home',
        async created() {
            let toast = M.toast({html: "Загрузка"})
            await this.$store.dispatch('load', this.idRoot)
            toast.dismiss();
        },
        watch: {
            async '$route'() {
                if (!this.$store.state.items.find(item => item.id == this.id)) {
                    let toast = M.toast({html: "Загрузка"})
                    await this.$store.dispatch('load', this.id)
                    toast.dismiss();
                }
            }
        },
        computed: {
            id() { return this.$route.params.id },
            idRoot() { return this.$route.params.idRoot || 'first' },
            isShowBigVideo() {
                return this.item.VideoBig
            },
            isShowSmallVideo() {
                return !this.item.VideoBig &&  this.item.VideoSmall
            },
            items() {
                return this.$store.state.items;
            },
            item() {
                console.log('item')
                let item = {};
                if (this.current)
                    item = this.$store.state.items.find(item => item.id == this.current);
                else
                    item = this.$store.state.items.find(item => item.idParent == null);
                return item;
            },
            children() {
                return this.$store.state.items.filter(item => item.idParent == this.item.id);
            },
            current() {
                let id = this.id;
                return (id == 'null' || !id) ? false : id;
            },
            ...mapState(['isAuth']),
        },
        components: {},
        data: () => ({
            isShowVideo: true,
            isPlayVideo: false,
        }),
        methods: {
            async showVideo() {
                this.isShowVideo = true;
                await this.$nextTick()
                if (this.item.VideoBig) {
                    //this.$refs.VideoBig.$el.

                }

                //VideoSmall

            },
            play(e) {
                try {
                    e.target.play()
                } catch (e) {
                    let toast = M.toast({html: "Ошибка воспроизведения"})
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    video {
        width: 100%;
    }


    .collection a {
        display: grid;
        grid-template: "img span" / 5rem 1fr;
        grid-gap: 1rem;

        img {
            grid-area: img;
            width: 100%;
        }


        span {
            grid-area: span;
        }
    }

    #btn-edit {
        position: fixed;
        bottom: 3vw;
        right: 3vw;
    }
</style>