<template>
    <div class="beckaps row">
        <div class="col m6 offset-m3">
            <ul class="collection with-header">
                <li class="collection-header"><h5>Создать</h5></li>
                <router-link class="collection-item" to="/admin/templates?action=create">Создать из шаблона
                </router-link>
                <a class="collection-item" @click="create">Создать пустую заготовку</a>
            </ul>

            <vue-nestable
                    v-model="ItemsBySort"
                    :max-depth="1"
                    class="collection"
                    @input="updateSort"
            >
                <router-link slot-scope="{ item }"  :to="`/admin/${item.id}`" class="collection-item avatar">
                    <span class="title" v-html="item.name" />
                    <p v-html="item.desc"/>

                    <vue-nestable-handle :item="item">
                        <div class="secondary-content" @click.stop.prevent>
                            <i class="material-icons">drag_handle</i>
                        </div>
                    </vue-nestable-handle>
                </router-link>
            </vue-nestable>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        computed: {
            ...mapState(['itemsRoot'])
        },
        data: () => ({
            ItemsBySort: []
        }),
        async created() {
            if (!this.$store.state.isAuth) this.$router.push('/Admin/Auth');
            let toast = M.toast({html: "Загрузка"})
            await this.$store.dispatch('load-list-opros');
            await this.$nextTick();
            this.$set(this, 'ItemsBySort', this.itemsRoot);
            toast.dismiss();
        },
        methods: {
            ...mapActions(['updateSort']),
            async create() {
                let id = await this.$store.dispatch('create')
                this.$router.push(`/admin/${id}/${id}`)
            },
        }
    }
</script>

<style lang="scss">
    .nestable-item {
        list-style: none;
    }

    .collection {
        ol {
            padding: 0px;
            a {
                padding-left: 30px !important;
            }
        }
    }

</style>

<style lang="scss" scoped>
    .title {
        //font-size: 120%;
    }

</style>