<template>
  <div class="beckaps row">
    <div class="col s6"  v-for="item in itemsTemplates" @click="create(item)">
      <div class="card">
        <div class="card-content">
          <span class="title">{{item.dateCreate}}</span>
          <tree-chart :json="item.tree | toObj" small/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import TreeChart from '@/components/TreeChart'

  export default {
    computed: {
      ...mapState(['itemsTemplates'])
    },
    data: () => ({}),
    components: {
      TreeChart
    },
    async created() {
      if (!this.$store.state.isAuth) this.$router.push('/Admin/Auth');
      let toast = M.toast({html: "Загрузка"})
      await this.$store.dispatch('load-list-templates');
      toast.dismiss();
    },
    methods: {
      async create(item) {
        let id = await this.$store.dispatch('create-by-template', item)
        this.$router.push(`/admin/${id}/${id}`)
      },
    },
    filters: {
      toObj(json) {
        return JSON.parse(json)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .title {
    font-size: 120%;
  }

  .card {
    transition: all .3s;
    cursor: pointer;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .card-content {
      max-height: 500px;
      overflow: hidden;
    }
  }
</style>